/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

img {
    width: 150px;
    margin: 0 auto;
}

.hero{
    background-image: url(images/torshov.jpg);
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    height: 343px;

}

#title{
    background: brown;
    margin: 140px auto -13px;
    padding: 3px 12px 5px;
    border-radius: 5px;
}
h2{
    width: 420px;
}

#desc{
    background: #457B9D;
    margin: 30px auto;
    padding: 6px 24px;
    border-radius:10px;
}
.wtd{
    background: #F1FAEE;
    display: flex;
    padding-bottom: 15px;

}
#concert{
    margin-top: 30px;
    border-radius: 50%;
}

#park{
    margin-top: 30px;
    border-radius: 50%;
}

#sports{
    margin: 30px;
    border-radius: 50%;
}
.card{
    margin: 20px auto;
    display: flex;
    background: #A8DADC;
    justify-content: space-around;
    border-radius: 10px;
    width: 400px;
    height: 294px;
    align-items: center;

}

#per-img{
    border-radius: 10px;
    padding: 10px;
}
#per-txt{
    text-justify: inter-cluster;
    margin-right: 10px;
}
#txt{
    margin-right: 20px;
    font-style: italic;
}